
.restaurant-container {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  padding: .7rem 0;
}

.restaurant-container:not(:first-child) {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.restaurant-container:first-child span {
  font-weight: bold;
  font-size: 17px;
}

.restaurant-container span {
  text-align: center;
}

.restaurant-container > div {
  display: flex;
}

.restaurant-container > div span:first-child {
  flex: 1;
}

button {
  cursor: pointer;
}

.tableContainer {
  display: flex;
  flex-direction: column;
}
